.conteudoGR{
    height: 70vh;
    width: 99vw;
    display: flex;
    flex-direction: row;
}

.GR{
    margin-top: 5vh;
    margin-left: 10vw;
}

.string{
    margin-top: 5vh;
    margin-left: 18vw;
}